.ls{
background: #91ADC2;    
    
    
    color: white;
    height: 80vh;
}
.ls-top{
    padding: 20px;
}
.ls-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ls-nav .logo{
    max-width:140px;
}
.ls-nav .menu img{
        max-height: 20px;
        opacity: 0.8 ;
        cursor: pointer;
             
}
.ls-search{
background: #768ea1;    
    display: flex;
    border-radius: 9px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 12px;
    margin-block: 20px;

}
.ls-search img{
    width: 16px;
    opacity: 0.8 ;
}
.ls-search input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
}
.ls-search input::placeholder{
    color: white;
    opacity: 0.8 ;
}
.addToChatList{
     padding: 0.3rem;
     border-radius: 6px;
     background:#a9c8e1 ;
     cursor: pointer;
}
 .ls-list{
    display: flex;
    flex-direction: column;
    height: 61.5vh;
    overflow-y: scroll;
    /* background: #000; */
    /* overflow: hidden; */
 }
 .ls-list img{
    width:35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
 }
 .ls-list .friends{
    background: #768ea1;
    border-radius: 9px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding:10px 20px;
    cursor:pointer;
    font-size: 14px;
 }
 .friends div{
    display: flex;
    flex-direction: column;
 }
 .friends span{
    color: #292929;
    font-size: 12px;
 }
 .friends:hover{
    background: #a8cdec;
    border-radius: 9px;
    color: white
 }
 .friends:hover span{
    color: rgb(7, 7, 7);
}
.subMenu{
    width: 120px;
    position: absolute;
    background: #30393f;
    padding: 10px 20px;
    border-radius: 9px;
    opacity: 0;
    visibility: hidden;
    right: 0;
    font-size: 13px;
    top: -14px;
    z-index: 999;
    /* flex-direction: column; */
    /* gap: 10px; */
}
.subMenu p{
    cursor: pointer;
}
.menu{
    position: relative;
}
.menu:hover .subMenu{
    opacity: 1;
    visibility: visible;
}   


.friends.border img {
    border :3px solid red;
}
.friends.border div span{
    color:yellow
}
@media (max-width:900px) {
    .ls{
        width: 100% ;
    }
}