.login {
    min-height: 100vh;
    background: #28464f;
    display: flex;
    align-items: center;
    gap:20px;
    justify-content: center;
}
input{
    border: none;
    outline: none;
    color:wheat
}
.logo {
    width: max(20vw, 200px);
}

.login_form {
    background: #5d8996;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.login_form h2 {
    font-weight: 500;
}

.form_input {
    padding: 10px 15px;
    border-radius: 4px;

    background: #26393e;
}
.form_input::placeholder {
    color: #c8c8c8;
}

.login_form button {
    padding: 10px;
    background: #2e464d;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.login_term {
    display: flex;
    gap: 5px;
    font-size: 12px;
}

.login_forgot {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login_toggle {
    font-size: 13px;
}

.login_toggle span {
    font-weight: 500;
    cursor: pointer;
    margin-left: 3px;
    color: #ffffff;
}
@media (max-width:768px) {
    .login{
        flex-direction: column;
        justify-items: center;
        gap: 20px;   
    }
    
}