.chat-box {
    height: 80vh;
    position: relative;
    background: #0f172a;
}

.chat-user {
    padding: 10px 20px;
    background: #8b5cf6;
    border-left:1px solid rgba(128, 128, 128, 0.767);  
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.767);
}

.chat-user img {
    width: 24px;
    border-radius: 50%;
}

.chat-user img:first-child {
    width: 38px;
    aspect-ratio: 1/1;

}

.chat-user p {
    flex: 1;
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 5px;

}

.chat-input {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    background-color: #222f50;
    /* border-left:1px solid rgba(128, 128, 128, 0.767); */
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

}

.chat-input img {
    width: 30px;
    cursor: pointer;
}

.chat-input label img {
    width: 22px;
}

.chat-input input {
    flex: 1;
    border: none;
    background: inherit;
    outline: none;

}
.chat-input input::placeholder {
    color: rgb(226, 226, 226);
}


.chat-msg {
    height: calc(100% - 70px);
    padding-bottom: 50px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.s-msg div img,
.r-msg div img {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.chat-msg {
    height: calc(100% - 70px);
    padding-bottom: 50px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.s-msg div img,
.r-msg div img {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.s-msg,
.r-msg {
    display: flex;
    align-items: end;
    justify-content: end;
    /* font-size: 10px; */
    gap: 5px;
    padding: 0 15px;
}

.r-msg {

    flex-direction: row-reverse;
    justify-content: start;
}

.msg {
    color: #f8fafc;
    /* background: orange; */
    padding: 10px 15px;
    max-width: 200px;
    font-size: 13px;
    box-shadow: 0  5px  5px rgba(0, 0, 0, 0.4);

    font-weight: 300;
    border-radius: 8px 8px 0px 8px;
    margin-bottom: 10px;
}

.r-msg .msg {
    border-radius: 8px 8px 8px 0px;
    background: #334155;
}

.s-msg .msg {
    background:#2563eb;
}

.s-msg div,
.r-msg div {
    text-align: center;
    font-size: 9px;
       color: #f8fafc;

}

.msg-img {
    max-width: 230px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.chat-welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    height: 100%;
}
.chat-welcome img{
    width: 100px;
}



.imageee{
    width: 120px;
    border-radius: 9px;
}
.chat-user .arrow{
display: none;
}
@media (max-width:900px) {
    .chat-box{
        width: 100%;
    }
    .chat-welcome{
        display: none;
    }
    .chat-user .arrow{
        display:block;
    }
    .chat-user .help{
        display: none;
    }
}